services:
  dash:
    image: ghcr.io/suddengunter/dash:v0.4.0
    restart: unless-stopped
    env_file: dash.env 
    user: "1000:1000"
    expose:
      - 4000/tcp
    networks:
      - apps

networks:
  apps:
    name: apps
    external: true
